@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
body{
    font-family: 'Public Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

/* ----- */

.cabecalho .logo .imagem{
    width: 200px;
}

.cabecalho .logo .imagem:hover{
    resize: 1.5rem;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4f8edb;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 1% 3%;
}

.cabecalho .navegacao{
    display: flex;

}
.cabecalho .logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.cabecalho .logo .titulo{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

.cabecalho  .logo .texto{
    font-size: 0.7rem;
    color: #30508e;
}

.cabecalho .titulo:hover{
    color: #30508e;
    transition: 0.2s ease;
}

.cabecalho .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho .navegacao .menu .item{
    margin: 10px;
}

#login a{
    padding: 12% 22%;
    border-radius: 20%;
    margin: 10px;
    background-color: #30508e;
}

.cabecalho .navegacao .menu .botao a:hover{
    color: green;
    transition: 0.4s ease;
}

.cabecalho .navegacao .menu .botao{
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.cabecalho .navegacao .menu .botao a{
    color: white;
}

.botao a{
    margin: 10px;
}

.cabecalho .navegacao .menu .item a{
    padding: 15px;
    transition: 0.3 ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover{
    background-color: #30508e;
    color: white;
    border-radius: 20%;
    transition: 0.2s ease;
}

.conteudo-principal .paineis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    position: relative;
}

.conteudo-principal .paineis .titulo{
    color: white;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}

.conteudo-principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(65%);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.conteudo-principal .paineis .imagem-painel.mostrar{
    opacity: 1;
}
.conteudo-principal .paineis .hotel1{
    background-image: url(../img/hotel-roberto-nickson.jpg);
}

.conteudo-principal .paineis .hotel2{
    background-image: url(../img/hotel-sasha-kaunas.jpg);
}

.conteudo-principal .paineis .hotel3{
    background-image: url(../img/hotel-iwood.jpg);
}

.conteudo-principal .paineis .seta{
    width: 50px;
    height: 50px;
    background-image: url(../img/seta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
    cursor: pointer;
}

.conteudo-principal .paineis .btn-voltar{
    left: 20px;
    transform: rotate(180deg);
}

.conteudo-principal .paineis .btn-avancar{
    right: 20px;
}

.conteudo-principal .secao-comodidades{
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f7f7f7;
}

.conteudo-principal .secao-comodidades .texto-comodidades{
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    padding: 30px;
}

.conteudo-principal .secao-comodidades .texto-comodidades .titulo{
    margin: 15px;
}

.conteudo-principal .secao-comodidades .grupo-comodidades{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.1rem;
}

.conteudo-principal .secao-comodidades .grupo-comodidades .comodidade{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10%;
    border: 0.5px solid black;
}

.conteudo-principal .secao-comodidades .grupo-comodidades .comodidade:hover{
    background-color: #30508e;
    color: #fff;
    transition: 0.3s ease;
}

.rodape{
    padding: 80px;
    height: 100px;
    background-color: #4f8edb;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rodape .navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape .navegacao .logo .imagem{
    width: 200px;
}

.rodape .navegacao .logo{
    display: flex;
    align-items: center;
}

.rodape .navegacao .logo .titulo{
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.rodape .navegacao .redes-sociais{
    display: block;
}
.rodape .navegacao .redes-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 1px solid #111;
}


@media (max-width: 920px){
    .cabecalho{
        flex-direction: column;
        justify-content: center;
    }

    .cabecalho .navegacao .menu .item a{
        font-size: calc(0.6em + 1vw);
    }

    .conteudo-principal .paineis{
        height: 500px;
    }
}

@media (max-width: 1341px){
    .conteudo-principal .secao-comodidades .texto-comodidades{
        position: normal;
    }

    .conteudo-principal .secao-comodidades .texto-comodidades{
        position: normal;
    }
}