@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
body{
    font-family: 'Public Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

/* ----- */

.cabecalho .logo .imagem{
    width: 130px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4f8edb;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cabecalho .logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.cabecalho .logo .titulo{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

.cabecalho .titulo:hover{
    color: #30508e;
}

.cabecalho .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho .navegacao .menu .item{
    margin: 10px;
}

#login a{
    padding: 10px 25px;
    border-radius: 20%;
    margin: 10px;
    background-color: #30508e;
}

.cabecalho .navegacao .menu .botao a:hover{
    color: green;
    transition: 0.4s ease;
    font-size: 1.03em;
}

.cabecalho .navegacao .menu .botao{
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.cabecalho .navegacao .menu .botao a{
    color: white;
}

.cabecalho .navegacao .menu .botao a:hover{
    color: 
}

.botao a{
    margin: 10px;
}

.cabecalho .navegacao .menu .item a{
    padding: 15px;
    transition: 0.3 ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover{
    background-color: #30508e;
    color: white;
}

.conteudo-principal .paineis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    position: relative;
}

.conteudo-principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.conteudo-principal .paineis .hotel1{
    background-image: url(../img/hotel-sasha-kaunas.jpg);
}